a { text-decoration: none;}
ul {list-style: none;}
li {list-style: none;}
:root {
    --weblogo-color: green;
    --text-color: #000000;
    --background:#FFFFFF;
    --portcontacts-color: #212121;
    --tel-color:  #757575;
    --sectionbackgroung: #F5F4FA;
    --solutionbackground-color: #2F303A;
}
body {
font-family: Roboto, sans-serif;
font-size: 14px;
letter-spacing: 0.03em;
color: var(--text-color);
background: var(--background);
}

h1,
h2,
h3,
p {
margin-top: 0;
margin-bottom: 0;
}

ul {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

img {
display: block;
}

/* Вся секция - Шапка: */
.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}
.section {
padding-top: 34px;
padding-bottom: 34px;
}
.pageone.header {
background: var(--sectionbackgroung);
}
.header {
padding-top: 25px;
padding-bottom: 25px;
}
.header-container {
display: flex;
align-items: center;
justify-content: space-between;
}
.navigation {
display: flex;
align-items: center;
}
.nav-list {
display: flex;
align-items: center;
}
.nav-listcontacts {
display: flex;
align-items: center;
}
.current {
color: var(--weblogo-color);}

.href:focus, 
.href:hover {
color: var(--weblogo-color);
}

.email:hover, .email:focus {
color: var(--weblogo-color);
}
.nav-listitem {
margin-right: 50px;
font-weight: 700;
letter-spacing: 0.02em;
line-height: 1.21;
color: var(--portcontacts-color);
}
.href {
color: var(--portcontacts-color);
}
/*Шапка- лого */
.logo {
margin-right: 93px;
}
.logo-footer {
fill: #FFFFFF;
}
.logo:hover {
fill: var(--weblogo-color);
transition: fill 250ms linear;
}

.logo-pic {
    background-color: none;
}


.email{
margin-left: auto;
margin-right: 50px;
}

.contacts {
    font-weight: 500px;
    color: var(--tel-color);
    letter-spacing: 0.02em;
    line-height: 1.14;
    margin-left: 5px;
}

.contacts:hover{
color: var(--weblogo-color);
font-style: solid;
}

.contacts:focus {
color: var(--weblogo-color);
}

.solution {
background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.6),
        rgba(47, 48, 58, 0.6)),
url(../images/wallpaper.jpg);
height: 600px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding-top: 25px;
padding-bottom: 25px;
text-align: center;
}
/* Кнопка " */

.solution-text {
padding-top: 200px;
font-size: 44px;
font-weight: 900;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--background);
}
.solution-text:hover {
font-size: 65px;
transition: font-size 250ms linear;
}


button { 
cursor: pointer;
}

.button-orderservice {
margin-top: 150px;
min-width: 200px;
font-size: 16px;
background: var(--weblogo-color);
color: var(--background);
border: 1px solid var(--background);
padding: 10px 32px;
border-radius: 4px;
letter-spacing: 0.06em;
font-weight: 700;
line-height: 1.62;
}
.button-orderservice:hover {
border: 5px solid var(--background);
transition: border 250ms linear;
}
.about {
background: var(--sectionbackgroung);
}
/* Який я */
.advantages {
display: flex;
align-items: flex-start;
}
.advantage-items:not(:last-child) {
margin-right: 30px;

}
.advantage-items {
display: flex;
flex-direction: column;

flex-basis: calc((100%-4*30px)/4);
}

.advantage-items-list:focus,
.advantage-items-list:hover {
fill: var(--weblogo-color);
}

.advantage-header {
margin-top: 20px;
line-height: 1.14;
font-size: 14px;
text-transform: uppercase;
color: var(--portcontacts-color);
}

.advantage-text {
line-height: 1.71;
color: var(--tel-color);
} 


/* Наша команда - стили */ 
.section-team {
margin-top: 94px;
padding-bottom: 54px;
background: var(--sectionbackgroung);
}

.header-h {
padding-top: 34px;
padding-bottom: 34px;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--portcontacts-color);
}
.header-recipes {
margin-top: 50px;
margin-bottom: 20px;
color: green;
font-size: 30px;
line-height: 1.16;
}
.article-colums {
    display: flex;
    margin-bottom: 34px;
}

.recipes-items {
    padding: 15px; 
    border: 1px dotted green;
    margin-right: 15px;
}

.recipes-items-name {
    margin-bottom: 20px;
    display: inline-block;
    font-size: 26px;
    line-height: 1.16;
}
.recipes-items-name:hover {
    color: green;
}

.recipes-items-name::before {
    background-image: url(../images/point-right.svg);
    content: '';
    width: 16px;
    height: 15px;

}

.ingredients {
    font-display: underline;
    margin-bottom: 10px;
    font-size: 20px;
}
.receipt {
    margin-top: 10px;
}
.team {
display: flex;
flex-wrap: wrap;
/* margin-left: -30px; */
}

.pics-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    height: 780px;

}
/* .pic:not(:last-child) {
    margin-left: 24px;
} */
.pic {
    display: block;
    width: 270px;
    height: 428px;
}
.pics-text {
    font-family: roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 15px;
}
.team-card:not(:nth-child(4n)) {
margin-right: 30px;
/* flex-basis: calc((100%-4*30px)/4); */
}
/* Стиль секции с тенью */
.teamcontent-wrapper {
padding: 20px 24px;
text-align: center;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #EEEEEE;

border-bottom-width: 3px;
border-bottom-style: solid;
border-bottom-color:#EEEEEE;

border-left-width: 1px;
border-left-style: solid;
border-left-color: #EEEEEE;
border-radius: 4px;
flex-basis: calc((100%-120px)/4);
}
.manager {
color: var(--portcontacts-color);
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.03em;
}

.position {
color: var(--tel-color);
font-size: 16px;
line-height: 1.17;
letter-spacing: 0.03em;
}

/*Футер-Вебстудия */
.footer {
line-height: 1.71;
background: var(--solutionbackground-color);}

.footer-container {
padding-top: 20px;
padding-bottom: 20px;
}
.studiofooter {
color: var(--background);
}

.nav-footer {
display: flex;
margin-top: 20px;
 }
/* Футер- Адрес */
address {
font-style: normal;
}

.address {
margin-bottom: 9px;
color: var(--background);
line-height: 1.71;
}
.contacts.footer {
color: var(--tel-color);
letter-spacing: 0.03em;
margin-left: 20px;
}
.contacts.footer:hover {
color: var(--weblogo-color);
}
.cf {
    display: block;
}
/* Стили для потрфолио */

.button-other:hover, .button-other:focus {
background: var(--weblogo-color);
color: var(--background);}

.button-other {
font-size: 16px solid;
font-weight: 500;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: var(--portcontacts-color);
background: var(--sectionbackgroung);
border-radius: 4px;
border: none;
padding: 6px 22px;}

.buttons:not(:last-child) {
margin-right: 8px;
}
.href.current {
color: var(--weblogo-color);
}

.button-types {

display: flex;
align-items: flex-start;
margin-left: -8px;
margin-bottom: 34px;
justify-content: center;
}
.work-name {
font-size: 18px;
letter-spacing: 0.06em;
line-height: 2;
}

.work-type {
font-style: Regular;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.03em;
line-height: 1.87;
color: var(--tel-color);
}
.work-examples {
display: flex;
flex-wrap: wrap;
margin-bottom: 94px;
}
.work-items:not(:nth-child(4n)) {
margin-right: 30px;
}
.work-items {
margin-bottom: 30px;
}
.work-items:hover,
.work-items:focus{
    background-color: #757575;
    border: 2px solid gray;
}
.workitems-wrapper {
padding: 20px 24px;
border: 1px solid #EEEEEE;;
}